<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="checkUser()">
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <h2> {{ getName() }} </h2>
      <p>{{ getMail() }}</p>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let item of data">

    <ion-item>
      <h2>{{ item.nom }} {{ item.prenom }}</h2>
    </ion-item>

      <ion-card-header>
        <h2>{{ item.id }}\# {{ item.titre }}</h2>
      </ion-card-header>
   
    <ion-card-content>
  
        <p>{{ item.type }}</p>  
        <p> {{ item.description }} </p>

    
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="logo-usd"></ion-icon>
          <div>{{ item.prix }} DT</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="toupdate(item.id,item.type,item.titre,item.description,item.prix)" ion-button icon-start clear small>
          <ion-icon name="refresh"></ion-icon>
          <div>Update</div>
        </button>
      </ion-col>
      <ion-buttons end>
        <button (click)="delete(item.id)" ion-button icon-only end clear small>
          <ion-icon name="trash"></ion-icon>
          
        </button>
      </ion-buttons>
    </ion-row>

  </ion-card>


  <ion-fab bottom right edge style="margin-bottom: 21%;">
    <button ion-fab mini (click)=presentModal()><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
